*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Consolas", monospace;
}

#desktop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/background.png");
    background-size: cover;
    cursor: default;
}

.window {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 700px;
    height: 400px;
    border-top: 30px solid #eeeeee;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 0 rgba(14, 14, 14, 0.3),
                0 9px 20px 6px rgba(50, 50, 50, 0.5);
}

.window:before {
    content: "";
    position: absolute;
    top: -22px;
    left: 10px;
    z-index: 1;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ff5f50;
    box-shadow: 19px 0 0 #fec107, 
                38px 0 0 #16cf36;
}

.window:after {
    content: attr(data-title);
    display: block;
    font-size: 1.4rem;
    line-height: 28px;
    text-align: center;
    color: #333333;
    margin-top: -28px;
}

.window aside {
    position: absolute;
    top: 1px;
    left: 0;
    bottom: 0;
    width: 28%;
    background-color: #eeeeee;
    border-right: 1px solid #d2d0d5;
}

.window aside section {
    padding: 15px;
}

.window aside section h1 {
    font-size: 1.2rem;
    line-height: 1;
    text-transform: uppercase;
    color: #888888;
    margin-bottom: 8px;
}

.window aside section li {
    width: calc(100% + 30px);
    margin-left: -15px;
    list-style: none;
    font-size: 1.2rem;
    line-height: 1;
    color: #333333;
    cursor: pointer;
    padding: 4px 15px 2px 15px;
}

.window aside section li:hover {
    color: #ffffff;
    background-color: #4f8edb;
}

.window main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 72%;
}

.terminal {
    top: auto;
    left: auto;
    right: 100px;
    bottom: 100px;
    width: 500px;
    height: 300px;
    background-color: #222222;
}

.icon {
    display: inline-block;
    vertical-align: top;
    width: 75px;
    height: auto;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1;
    color: #222222;
    background: none;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.icon:before {
    content: "";
    display: block;
    width: 80%;
    padding: 40% 0;
    margin: 0 auto 5px auto;
    background: center center no-repeat;
    background-size: cover;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.icon.highlighted {
    color: #ffffff;
    background-color: rgba(119, 170, 219, 1);
}

.icon.launchpad:before {
    background-image: url("../images/launchpad.png");
}

.icon.terminal:before {
    background-image: url("../images/terminal.png");
}

.icon.textedit:before {
    background-image: url("../images/textedit.png");
}

.icon.documents:before {
    background-image: url("../images/documents.png");
}

.icon.sublimetext:before {
    background-image: url("../images/sublimetext.png");
}